{% extends 'base.html.twig' %}

{% block title %}L'Ajoute!{% endblock %}

{% block body %}
    {% if editEntreprise %}
      <h1>Editer une entreprise</h1>
    {% else %}
      <h1>Ajouter une entreprise</h1>
    {% endif %}
{{form(formAddEntreprise)}}

{% endblock %}
